<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KerDNS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>kerdns.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>kernet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>kernet_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7412488F130E033600715730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741248BB130E03AF00715730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741248C8130E03EA00715730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DAA09913125DE800BE59FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DAA0A713125DFB00BE59FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
